html {
    position: relative;
    min-height: 100%;
  }
  
  body {
    background-color: rgb(235, 233, 233);
    margin: 0;
    padding-bottom: 100px; /* Altura del footer */
  }
  
  main {
    position: relative;
    z-index: 1; /* Asegurarse de que el main se muestra sobre el footer */
  }
  
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 220px; /* Altura del footer */
    background-color: #343a40;
    color: #fff;
    margin-bottom: -150px;
  }

  letra{
    color: aliceblue;
  }
  
  @media (max-width: 800px) {
    main {
      display: none;
    }
  }

  