{% extends 'base.html' %}

{% block titulo%}Catalogos {%endblock%}

{%block ref1 %}
    <a class="navbar-brand" href="{%url 'catalogosHome'%}">Catalogos</a>
{% endblock%}

{%block ref2 %} 
    <a class="nav-link" href="{%url 'index'%}">Inicio</a>
{%endblock%}

{%block ref3 %} 
    <a class="nav-link" href="{%url 'catalogosProducto'%}">Productos</a>
{%endblock%}

{%block ref4%}
    <a class="nav-link" href="{%url 'catalogosServicios'%}">Servicios</a>
{%endblock%}

{% block ref5 %}
{% endblock  %}

{% block contenido%}
    <h1>Estas en el home de catalogos </h1>
    <form method="post">
        {% csrf_token %}
        <div>
            {{ form.numero.label_tag }}
            {{ form.numero }}
        </div>
        <div>
            {{ form.numTC.label_tag }}
            {{ form.numTC }}
        </div>
        <div>
            {{ form.fecha.label_tag }}
            {{ form.fecha }}
        </div>
        <div>
            {{ form.vehiculo.label_tag }}
            {{ form.vehiculo }}
        </div>
        <div>
            {{ form.propietario.label_tag }}
            {{ form.propietario }}
        </div>
        <div>
            {{ form.estatus.label_tag }}
            {{ form.estatus }}
        </div>
        <div>
            {{ form.oficina.label_tag }}
            {{ form.oficina }}
        </div>
        <button type="submit">Guardazr</button>
    </form>
    {% if form.errors %}
    <div>
        {{ form.errors }}
    </div>
{% endif %}
    
{% endblock%}